<div *ngIf="patientCollectionSize < 1 && !zeroSearchResults; else showItems">
	<div class="card" style="margin-top: 45px;">
		<div class="card-header bg-info-subtle">
			<h1>There are no patients currently in the system to display</h1>
		</div>
		<div class="card-body">
			<p class="card-text">Please use the <i><b>"Upload List" </b></i> button above to import patients into the system..</p>
		</div>
	</div>
</div>

<ng-template #showItems>
	<br />
	<form>
		<div class="mb-3 row">
			<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Filter by name</label>
			<div class="col-xs-3 col-sm-8 col-md-9">
				<input id="table-complete-search" type="text" class="form-control form-control-sm" name="searchTerm"
					[(ngModel)]="searchTerm" />
					<button class="btn btn-sm btn-outline-secondary mt-3" type="button" (click)="onSearch()">Filter</button>
			</div>
		</div>

		<table class="table table-striped"  *ngIf="!zeroSearchResults else elseBlock">
			<thead>
				<tr>
					<th scope="col">Edit</th>
					<th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
					<th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
					<th scope="col">Birth Date</th>
					<th scope="col">Gender</th>
				</tr>
			</thead>
			<tbody>
				<tr table-list-item *ngFor="let patient of patients" [patient]="patient"></tr>
				<!-- <table-list-item *ngFor="let patient of patients" [patient]="patient">
				</table-list-item> -->
				<!-- <tr>
					<td><i class="fa-regular fa-address-card"></i></td>
					<td>
						<ngb-highlight [result]="patient.firstName" [term]="searchTerm" />
					</td>
					<td><ngb-highlight [result]="patient.lastName" [term]="searchTerm" /></td>
					<td>{{patient.birthDate | mmDdYYYYDate}}</td>
					<td>{{patient.genderDescription}}</td>
				</tr> -->
			</tbody>
		</table>

		<div class="d-flex justify-content-between p-2" *ngIf="!zeroSearchResults">
			<ngb-pagination size="sm" [collectionSize]="patientCollectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="onPageNavigate($event)">
			</ngb-pagination>

			<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
				<option [ngValue]="2">2 items per page</option>
				<option [ngValue]="5">5 items per page</option>
				<option [ngValue]="10">10 items per page</option>
				<option [ngValue]="25">25 items per page</option>
			</select>
		</div>
		
		<ng-template #elseBlock>
			<div class="p-6">
				<h3>No patients match you filtering search term</h3>
				<br />
				<i>Please clear your filtering search or try a new term...</i>
			</div>
		</ng-template>
	</form>
</ng-template>