<div class="card" style="margin-top: 45px;">
  <div class="card-header bg-info-light">
    <h1>Upload CSV import file</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Format specifications</h5>
    <div class="card-text">
      <p>Please include the following valid import columns, separated by comma delimiters:</p>
      <ul>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Birthday</li>
        <li>Gender</li>
      </ul>
      <p>The first row should identify the valid import column names. For Example:</p>
      <samp>First Name,Last Name,Birthday,Gender</samp>
    </div>
    <hr class="my-8">
    <p>A sample patient data row:</p>
      <samp>Carol,Denvers,1968-04-24,F</samp>
  </div>
  
  <div class="card-footer text-muted  text-center">
    <a href="#" class="btn btn-primary">Upload CSV</a>
  </div>
</div>